.final-background {
  background: url('background.gif') center no-repeat;
  background-size:cover;
}

.final {
  text-align: center;
}

.final-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}